.style-btn{border-radius: 0px!important;}
.content-section{background-color: #2A3138; padding: 10% 0 10% 0%; }
.btn-styling{border-radius: 0px;}
.content-col-5{background-color: #fff; padding: 20px 20px 15px 15px;}